---
import PrimaryButton from "../Buttons/PrimaryButton.vue";
import SecondaryButton from "../Buttons/SecondaryButton.vue";
---

<div class="mt-10 flex justify-center gap-5">
  <!-- <PrimaryButton text="Projekte" href="#projects" icon="diagram-project" /> --->
  <SecondaryButton text="Über Mich" href="/about-me" icon="user" />
</div>
