<div class="flex justify-center">
  <div
    class="mb-20 mt-20 inline-flex justify-center gap-5 rounded-md bg-primary-color px-5 py-3"
  >
    <a
      href="https://www.linkedin.com/in/pascal-kraupner-022b5322b/"
      target="_blank"
      class="text-primary-dark duration-500 hover:scale-110"
      ><i class="fa-brands fa-linkedin-in text-3xl"></i>
    </a>
    <a
      href="https://github.com/pkdotcodes"
      target="_blank"
      class="text-primary-dark duration-500 hover:scale-110"
      ><i class="fa-brands fa-github text-3xl"></i>
    </a>
    <a
      href="https://twitter.com/pkdotcodes"
      target="_blank"
      class="text-primary-dark duration-500 hover:scale-110"
      ><i class="fa-brands fa-x-twitter text-3xl"></i>
    </a>
    <a
      href="mailto:mail@pascalkraupner.dev"
      class="text-primary-dark duration-500 hover:scale-110"
      ><i class="fas fa-envelope text-3xl"></i>
    </a>
  </div>
</div>
