---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
---

<nav class="border-b border-default bg-secondary">
  <div
    class="border-p m-auto flex h-14 max-w-screen-2xl items-center justify-between border-default px-3 py-1"
  >
    <a href="/">
      <Image class="h-auto w-12" src={logo} alt="Pascal Kraupner Logo" />
    </a>
    <a href="#" data-mobile-menu-button class="z-30 md:hidden">
      <span
        class="mb-1 block h-1 w-6 rounded-md bg-light-color transition-transform"
      ></span>
      <span class="mb-1 block h-1 w-6 rounded-md bg-light-color"></span>
      <span
        class="mt-1 block h-1 w-6 rounded-md bg-light-color transition-transform"
      ></span>
    </a>
    <ul class="hidden items-center space-x-4 font-bold md:flex">
      <li>
        <a
          href="/"
          class="text-default transition-colors duration-500 hover:text-primary-color"
          >Home</a
        >
      </li>
      <!--
      <li>
        <a
          href="/#projects"
          class="text-default transition-colors duration-500 hover:text-primary-color"
          >Projekte</a
        >
      </li>
      --->
      <li>
        <a
          href="/about-me"
          class="text-default transition-colors duration-500 hover:text-primary-color"
          >Über mich</a
        >
      </li>
      <li>
        <a
          href="/my-toolbox"
          class="text-default transition-colors duration-500 hover:text-primary-color"
          >Meine Toolbox</a
        >
      </li>
    </ul>
    <div class="hidden w-12 md:block">&nbsp;</div>
  </div>
</nav>

<div
  class="invisible fixed z-20 h-full w-full overflow-hidden bg-secondary opacity-0 transition-all duration-500"
  data-mobile-menu
>
  <nav
    class="mt-5 flex flex-col items-center gap-5 text-4xl"
    aria-label="mobile-menu"
  >
    <a href="/">Home</a>
    <!-- <a href="/#projects">Projekte</a> --->
    <a href="/about-me">Über Mich</a>
    <a href="/my-toolbox">Meine Toolbox</a>
  </nav>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const mobileMenu = document.querySelector("[data-mobile-menu]");
    const mobileMenuButton = document.querySelector(
      "[data-mobile-menu-button]",
    );
    const toggleMenu = () => {
      mobileMenu?.classList.toggle("opacity-0");
      const spanElements = mobileMenuButton?.querySelectorAll("span");
      document.body.classList.toggle("overflow-hidden");
      spanElements![1].classList.toggle("hidden");
      spanElements![0].classList.toggle("rotate-45");
      spanElements![2].classList.toggle("-rotate-45");
      spanElements![0].classList.toggle("translate-y-1");
      spanElements![2].classList.toggle("-translate-y-1");
      mobileMenu?.classList.toggle("invisible");
    };
    mobileMenuButton?.addEventListener("click", () => {
      toggleMenu();
    });
    mobileMenu?.addEventListener("click", () => {
      toggleMenu();
    });
  });
</script>
